# .env.example
# Rename this file to .env for local development
# NEVER commit .env to GitHub!

TELEGRAM_TOKEN=8181400239:AAEwwT-kGYLeZAcyUa_NLjib8NqIob7-mUE
DEEPSEEK_API_KEY=sk-0625ba3cb2474773baa7d99338d733d6
